{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
<div class = "row">
    <div class = "coll-md-6 offset-md-3">
        <h2> Register </h2>
        <hr>
        <form method="post">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <div class = "messages">
                <p {% if message.tags %} class = "alert alert-{{message.tags}}" {% endif %}> (*) means is required </p>
            </div>
            <br>
            <button type = "submit" class = "btn btn-info">
                Register
            </button>
        </form>
    </div>
</div>
    
{% endblock body %}